body {
  margin: 0;
  background-color: #222;
  font-family: Arial, sans-serif;
  height: 100vh;
}

#top-banner {
  background-color: #444;
  color: white;
  padding: 10px 20px;
}

#top-banner h1 {
  margin: 0;
  font-size: 1.8em;
}

#top-banner button {
  margin-left: 10px;
}

#bones-nav ul {
  list-style:none;
  margin:10px 0;
  padding:0;
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

#bones-nav li {
  background-color:#666;
  padding:5px 10px;
  border-radius:5px;
  cursor:pointer;
}

#bones-nav li:hover {
  background-color:#888;
}

#bones-nav li.active {
  background-color:#aaa;
  color:black;
  font-weight:bold;
}

.sublist {
  display:flex;
  flex-direction:row;
  gap:5px;
  margin-top:5px;
}

#viewer-container {
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(to bottom, #222, #000);
}

#container3D {
  width:100%;
  height:100%;
}

#container {
  display:flex;
  flex-direction:row;
  height:90vh;
}

#info {
  flex:1;
  padding:20px;
  color:white;
  background: linear-gradient(to bottom, #222, #000);
  overflow-y:auto;
}

.btn-white {
    color:white;
    border:2px solid white;
    background-color:transparent;
    padding:6px 12px;
    border-radius:4px;
    cursor:pointer;
    font-weight:bold;
}

.btn-white:hover {
    background-color: rgba(255,255,255,0.1);
}

#test-bones-list li {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #666;
  border-radius: 5px;
}

#test-bones-list li:hover {
  background-color: #888;
}

#test-bones-list li.selected {
  background-color: #aaa;
  font-weight: bold;
}
#test-mode-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-red {
    color: #c0392b;         /* červený text */
    border: 2px solid #c0392b; /* červené ohraničení */
    background-color: transparent; 
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
      position: absolute;
  right: 20px;
  top: 15px;
  padding: 5px 10px;
  cursor: pointer;

}
.btn-white:hover {
    background-color: rgba(255,255,255,0.1);
}

.btn-red:hover {
    background-color: rgba(192,57,43,0.1);
}
